* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #f9faf8;
  text-transform: uppercase;
  margin-bottom: 0.417em;
}

h2 {
  margin-bottom: 0.417em;
  font-size: 1.875rem;
  text-align: center;
}

p {
  color: #f9faf8;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 60ch;
}

.sub-heading {
  color: #caccd0;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 10px;
}

.products-hero {
  background-color: #1f2937;
  padding: 20px 30px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.text-content {
  text-align: center;
  padding: 0 0.416em;
}

.hero-image-container img {
  width: 100%;
  object-fit: cover;
}

.btn {
  background-color: #3882f6;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 1.25em 2.2em;
  border: none;
  width: 100%;
  display: inline-block;
  margin-top: 1.25em;
  text-decoration: none;
}

.featured-products {
  padding: 40px 0;
  background-color: #f3f3f3;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 40px;
}

.product {
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  border-radius: 10px;
  background-color: whitesmoke;
}

.product img {
  width: 100%;
  object-fit: cover;
}

.product-text {
  color: black;
}

.product span {
  display: block;
  margin-top: 5px;
}

.product span:last-child {
  font-weight: 700;
  font-size: 1.25rem;
}

.testimonials-section {
  padding: 40px 0;
}

.testimonials-section h2{
  margin-bottom: 1em;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.testimonial {
  padding: 1.875em 1.25em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  border-radius: 10px;
  background-color: whitesmoke;
}

.testimonial p {
  color: black;
  font-size: 1.125rem;
  font-style: italic;
  max-width: 100%;
}

.testimonial img {
  width: 80px;
  height: 80px;
  margin: 0;
}

.testimonial span {
  font-weight: bold;
  font-size: 1.125rem;
}

.testimonial i{
  color: #ffd43b;
}

@media (min-width: 780px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.125rem;
  }

  h2 {
    font-size: 2.5rem;
    text-align: left;
  }

  .sub-heading {
    font-size: 1.875rem;
  }

  .products-hero {
    padding: 20px 0;
  }

  .hero-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }

  .text-content,
  .hero-image-container {
    flex: 1;
  }

  .text-content {
    text-align: left;
  }

  .hero-image-container img {
    width: 100%;
  }

  .btn {
    width: 200px;
    cursor: pointer;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    width: 100%;
  }

  .testimonials {
    flex-direction: row;
    padding: 0;
  }
}
